<app-container [navLeft]="navLeft" title="Liste de taxe">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Label Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> Dénomination </th>
        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
      </ng-container>
  
      <!-- Target Column -->
      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef> Cible </th>
        <td mat-cell *matCellDef="let element"> {{ getTargetTaxLabel(element.target).label }} </td>
      </ng-container>
  
      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Valeur </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>
  
      <!-- Start date Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Date de début </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
      </ng-container>
  
      <!-- End date Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> Date de fin </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
      </ng-container>
  
      <!-- City Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="th-actions"> Action </th>
        <td mat-cell *matCellDef="let element" class="td-actions">
          <div class="actions-ctner">
            <fa-icon [icon]="faPen" [routerLink]="updateTaxRoute.replace(':id', element.id)"></fa-icon>
            <fa-icon [icon]="faTrash" (click)="onDelete(element.id)"></fa-icon>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</app-container>