<nav class="nav-burger" [ngClass]="{'open' : isOpen}">
  <ul>
    <li *ngFor="let link of nav">
      <a [routerLink]="link.link" (click)="onOpen(false)">{{ link.label }}</a>
    </li>
  </ul>
</nav>

<header>
  <div class="container-fluid">
    <div class="row header-ctner">
      <div class="col-8 block-left">
        
        <ul class="nav-top-open-btn" (click)="onOpen()">
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <h1><a routerLink="/">Application</a></h1>
    
        <nav>
          <ul>
            <li *ngFor="let link of nav">
              <a [routerLink]="link.link" (click)="onOpen(false)">{{ link.label }}</a>
            </li>
          </ul>
        </nav>
      </div>
    
      <div class="col-4 block-right">
        <nav>
          <ul>
            <li (click)="onLogout()">Se déconnecter</li>
          </ul>
        </nav>
        <div class="profil" *ngIf="false">
          <div class="profil-picture"></div>
          
          <ul class="profil-nav">
            <li (click)="onLogout()">Se déconnecter</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>