@import './../../services/styles/colors'
@import './../../services/styles/responsive'

.nav-top-open-btn
  width: 60px
  padding: 10px
  cursor: pointer
  margin-right: 10px !important

  @media screen and (min-width: $w-md)
    display: none

  li
    background-color: white
    height: 5px
    width: 100%
    margin: 7px 0
    border-radius: 5px

.nav-burger
  @media screen and (min-width: $w-md)
    display: none

  @media screen and (max-width: $w-md)
    background-color: white
    position: fixed
    left: 0
    right: 0
    bottom: 100%
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.5)
    height: calc(100vh - 70px)
    margin: 0
    z-index: 5
    transition: all 300ms

    &.open
      bottom: 0

    ul
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 20px

      li
        margin: 10px 0
        list-style: none
        a
          font-size: 2rem
          color: $main-color
          text-decoration: none

header
  background-color: $main-color
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 15
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2)

  .header-ctner
    height: 70px

  h1
    color: white
    font-size: 2rem
    margin: 0

  a
    color: white
    text-decoration: none

  ul
    margin: 0

    li
      list-style: none
      align-items: center
      
  .block-left
    display: flex
    align-items: center

    nav
      margin-left: 20px

      @media screen and (max-width: $w-md)
        display: none

      ul
        display: flex

        li
          margin: 0 10px

  .block-right
    display: flex
    align-items: center
    justify-content: flex-end

    .profil
      height: 70px
      width: 70px
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      position: relative

      .profil-picture
        border: 2px solid white
        height: 40px
        width: 40px
        border-radius: 50%


      &:hover
        .profil-nav
          opacity: 1
          pointer-events: initial

      .profil-nav 
        opacity: 0
        pointer-events: none
        background-color: white
        position: absolute
        top: 65px
        right: 0
        width: auto
        padding: 5px 10px
        border-radius: 3px
        transition: 100ms
        box-shadow: 0 0 3px black

        li
          margin: 5px 0
          white-space: nowrap

          a
            color: black

        &:hover
          opacity: 1
          pointer-events: initial
