<header>
  <div class="container-fluid">
    <div class="row header-ctner">
      <div class="col-8 block-left">
        <h1><a routerLink="/">Application</a></h1>
    
        <nav>
          <ul>
            <li *ngFor="let link of nav">
              <a [routerLink]="link.link">{{ link.label }}</a>
            </li>
          </ul>
        </nav>
      </div>
    
      <div class="col-4 block-right">
        <div class="profil">
          <div class="profil-picture"></div>
          
          <ul class="profil-nav">
            <li (click)="onLogout()">Se déconnecter</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>