@import './../../services/styles/colors'
  
header
  background-color: $main-color

  .header-ctner
    height: 70px

  h1
    color: white
    font-size: 2rem

  a
    color: white
    text-decoration: none

  ul
    margin: 0

    li
      list-style: none
      align-items: center
      
  .block-left
    display: flex
    align-items: center

    nav
      margin-left: 20px