<app-container [navLeft]="navLeft" title="Information de client">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <label for="name">Nom / Entreprise</label>
          <span class="client-value">{{ client.name || '---' }}</span>
        </div>
      </div>
    </div>
      
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <label for="address">Adresse</label>
          <span class="client-value">{{ client.address || '---' }}</span>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="input-group">
          <label for="postal_code">Code postal</label>
          <span class="client-value">{{ client.postal_code || '---' }}</span>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="input-group">
          <label for="city">Ville</label>
          <span class="client-value">{{ client.city || '---' }}</span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <label for="phone_number">Numéro de téléphone</label>
          <span class="client-value">{{ client.phone_number || '---' }}</span>
        </div>
      </div>
        
      <div class="col-sm-6">
        <div class="input-group">
          <label for="mail">Mail</label>
          <span class="client-value" *ngIf="client.mail"><a href="mailto:{{client.mail}}">{{ client.mail }}</a></span>
          <span class="client-value" *ngIf="!client.mail">---</span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <label for="website_link">Site web</label>
          <span class="client-value" *ngIf="client.website_link"><a [href]="client.website_link">{{ client.website_link }}</a></span>
          <span class="client-value" *ngIf="!client.website_link">---</span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <label for="note">Note</label>
          <span class="client-value">{{ client.note || '---' }}</span>
        </div>
      </div>
    </div>

  </div>
</app-container>