@import './../../services/styles/colors'
@import './../../services/styles/responsive'
  
.page-ctner 
  position: absolute
  left: 250px
  top: 70px
  right: 0
  padding: 20px 30px

  @media screen and (max-width: $w-md)
    left: 0

  h2
    padding-bottom: 20px 
    border-bottom: 2px solid $main-color-disabled