<app-container [navLeft]="navLeft" title="Information du contact">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <label for="name">Nom / Entreprise</label>
          <span class="contact-value">{{ contact.name || '---' }}</span>
        </div>
      </div>
    </div>
      
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <label for="address">Adresse</label>
          <span class="contact-value">{{ contact.address || '---' }}</span>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="input-group">
          <label for="postal_code">Code postal</label>
          <span class="contact-value">{{ contact.postal_code || '---' }}</span>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="input-group">
          <label for="city">Ville</label>
          <span class="contact-value">{{ contact.city || '---' }}</span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <label for="phone_number">Numéro de téléphone</label>
          <span class="contact-value">{{ contact.phone_number || '---' }}</span>
        </div>
      </div>
        
      <div class="col-sm-6">
        <div class="input-group">
          <label for="mail">Mail</label>
          <span class="contact-value" *ngIf="contact.mail"><a href="mailto:{{contact.mail}}">{{ contact.mail }}</a></span>
          <span class="contact-value" *ngIf="!contact.mail">---</span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <label for="website_link">Site web</label>
          <span class="contact-value" *ngIf="contact.website_link"><a [href]="contact.website_link">{{ contact.website_link }}</a></span>
          <span class="contact-value" *ngIf="!contact.website_link">---</span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <label for="note">Note</label>
          <span class="contact-value">{{ contact.note || '---' }}</span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <h3>Personnes</h3>

      <div class="col-12">
        <button (click)="addPerson()">Ajouter une personne</button>
      </div>

      <div class="col-12">
        <div class="row" *ngFor="let payment of contact.contact_people">
          <div class="col-sm-3">
            <span>{{ payment.firstname }}</span>
          </div>
          <div class="col-sm-3">
            <span>{{ payment.lastname }}</span>
          </div>
          <div class="col-sm-3">
            <span>{{ payment.linkedin_link }}</span>
          </div>
          <div class="col-sm-3">
            <fa-icon [icon]="faPen" (click)="onUpdatePerson(payment.id)"></fa-icon>
            <fa-icon [icon]="faTrash" (click)="onDeletePerson(payment.id)"></fa-icon>
          </div>
        </div>
      </div>
    </div>

  </div>
</app-container>