<h3 mat-dialog-title>Formulaire de personnes</h3>
<div mat-dialog-content [formGroup]="form">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <label for="firstname">Prénom</label>
          <input type="text" id="firstname" name="firstname" formControlName="firstname" ngModel [(ngModel)]="firstname" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <label for="lastname">Nom</label>
          <input type="text" id="lastname" name="lastname" formControlName="lastname" ngModel [(ngModel)]="lastname" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <label for="linkedin_link">Lien Linkedin</label>
          <input type="text" id="linkedin_link" name="linkedin_link" formControlName="linkedin_link" ngModel [(ngModel)]="linkedin_link">
        </div>
      </div>
    </div>

  </div>
</div>
<div mat-dialog-actions class="btn-ctner">
  <button mat-button mat-dialog-close [mat-dialog-close]="false">Annuler</button>
  <button mat-button (click)="onSubmit()" [disabled]="form.invalid">Valider</button>
</div>